## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
.vs/
*.DotSettings.user

## Cursor
.cursor/*
!.cursor/rules/
!.cursor/rules/**

## OS
Thumbs.db
Desktop.ini
.DS_Store
